@model List<Shopping_Cart.Models.product>
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<br />


<center><h2>List Product</h2></center>
<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Product Name</th>
        <th>Produc Price</th>
        <th>Product Featured</th>
        <th>Product Brand</th>
        <th>Product Category</th>
        <th>Product Details</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.Name</td>
    <td>@item.Price</td>
    <td>@item.Featured</td>
    <td>@item.brand.Name</td>
    <td>@item.category.Name</td>
    <td>@item.Details</td>
    <td><a href="@Url.Action("DeleteProduct","Admin",new { id=item.Id})" class="btn btn-danger"><i class="fas fa-trash"></i></a>|<a href="@Url.Action("EditProduct","Admin",new { id=@item.Id})" class="btn btn-info"><i class="fas fa-edit"></i></a>|<a class="btn btn-success" href="@Url.Action("AddProductImage","Admin",new { id=@item.Id})" >Add Product Image</a></td>
</tr>
    }
</table>